h1{
    text-align:center;
    padding-bottom: 50px;
}

#genButton{
    color: #fff;
    
}

#copyButton{
    color: black;
    background-color:lightgray;
}

#passBox{
    border: 5px dotted gray;
}


.container-fluid{
    background-color:#fff;

}

main{
    background-color: red;
}
div{
    border:1px solid black;
    background-color:rebeccapurple;

}