h1{
    text-align:center;
}

#genButton{
    color: #fff;
    
}

#copyButton{
    color: #fff;
    background-color:lightgray;
}

#passBox{
    border: 5px dotted gray;
}

.btn-danger{
    padding-right: 60px;
}

.container-fluid{
    background-color:lightgray;
}